.noteDiv {
  padding: 0 15px;
}

.card {
  display: flex;
  height: 100%;
  text-align: 'center';
    
    
}

.cardEnabled{
  background: #FAFBFF;
}

.cardDisabled {
  background: #FAFAFA;
}

.cardNormal {
  border-width: 1px;
}
.cardImportant {
  border-width: 3px;
}